<h1>Edit Documentary</h1>

<%= render 'form'%>
<p>
    <%= link_to 'Create new documentary', documentry_films_path%>
</p>
<p>
    <%= link_to 'Return to documentary films listing', documentry_films_path%>
</p>