<h1>Showing documentary details</h1>

<p><strong>Name: </strong><%= @documentryfilm.name%></p>
<p><strong>Synopsis: </strong><%= @documentryfilm.synopsis%></p>
<p><strong>Director: </strong><%= @documentryfilm.director%></p>
<p>
    <%= link_to 'Return to documentary films listing', documentry_films_path%>
</p>